/* CSS Document */

#backtotop {
    position: fixed;
    bottom: 5px;
    right: 25px;
    z-index: 2
}

#backtotop .backtotop-btn {
    position: relative;
    width: 38px;
    height: 38px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #E4E4E4;
    cursor: pointer
}

#backtotop .backtotop-btn:hover {
    background-color: #e2e2e2
}

#backtotop .backtotop-btn:hover .arrow-upward {
    border-bottom-color: #0085A1
}

#backtotop .backtotop-btn:hover .vertical-stick {
    background-color: #0085A1
}

@media screen and (max-width:550px) {
    #backtotop .backtotop-btn {
        width: 18px;
        height: 18px;
        display: none
    }
}

#backtotop .arrow-upward,
#backtotop .vertical-stick {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto
}

#backtotop .arrow-upward {
    top: -1px;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-bottom-color: #404040
}

@media screen and (max-width:550px) {
    #backtotop .arrow-upward {
        border-width: 5px
    }
}

#backtotop .vertical-stick {
    top: 15px;
    width: 8px;
    height: 14px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    background-color: #404040
}

@media screen and (max-width:550px) {
    #backtotop .vertical-stick {
        top: 7px;
        width: 4px;
        height: 7px
    }
}