---
layout: default
description: "内容缺失 :("
header-img: "http://o6ledomfy.bkt.clouddn.com/IMG_5555.JPG"
permalink: /404.html
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="site-heading" id="tag-heading">
					<h1>404</h1>
					<span class="subheading">{{ page.description }}</span>
				</div>
			</div>
		</div>
	</div>
</header>
<script>
	document.body.classList.add('page-fullscreen');
</script>