---
layout: page
title: "About"
description: "Hey, this is Asingers."
header-mask: 0.3
header-img: "https://source.unsplash.com/user/asingers/likes/1600x900"
---

<div class="zh">
    <blockquote>
        世界那么大，多玩玩看看。
    </blockquote>
    <img src="https://cloud9dic.b0.upaiyun.com/photo-1495900158145-fa1e1786861b.jpeg" alt="" class="shadow"/><br>
    一个爱搞机的iOS程序猿<br>平时主要工作是iOS开发，兴趣原因涉猎面也较广。网站可能被Google索引的会多一点，如果有幸你看到了感兴趣的内容或者什么问题可以给我邮件 asingers#9dic.com 。
</div>

{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
                <div class="comment">
                    {% include comments.html %}
                </div>