---
layout: page
title: Archive
header-mask: 0.3
header-img: "https://source.unsplash.com/user/asingers/likes/1600x900"
---

{% for post in site.posts  %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture this_month %}{{ post.date | date: "%m" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
    {% capture next_month %}{{ post.previous.date | date: "%m" }}{% endcapture %}
  
    {% if forloop.first %}
      <legend id="{{this_year}}-{{this_month}}">{{this_year}} 年 {{this_month}} 月</legend>
      <ul>
    {% endif %}
    <li><span>{{ post.date | date: "%Y 年 %m 月 %d 日" }}</span>  👉
      <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a>
    </li>
  
    {% if forloop.last %}
      </ul>
    {% else %}
      {% if this_year != next_year %}
        </ul>
        <legend id="{{next_year}}-{{next_month}}">{{next_year}} 年 {{next_month}} 月</legend>
        <ul>
      {% else %}    
        {% if this_month != next_month %}
        </ul>
        <legend id="{{next_year}}-{{next_month}}">{{next_year}}年 {{next_month}} 月</legend>
        <ul>
        {% endif %}
      {% endif %}
    {% endif %}
{% endfor %} 